body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.crooll::-webkit-scrollbar {
    display: none;
}

header {
    background-color: white;
    display: flex;
    padding: 10px 0;
    width: 100%;
    position: relative;


    justify-content: space-between;

    .logo {
        ul {
            display: flex;
            align-items: center;
            gap: 24px;

        }

        .farm {
            display: flex;
            align-items: center;
            gap: 10px;
        }

    }

    .degree {
        font-size: 14px;
        color: #1F1F1F;
        font-weight: 500;
    }

    .cloud {
        color: #000000;
        font-size: 12px;
        font-weight: 400;
    }

    .user {

        right: 5px;
        display: flex;

        ul {
            display: flex;
            align-items: center;
            gap: 20px;

        }
    }

}

.containerSeach {

    display: flex;

    .dropdown {
        display: flex;
        align-items: center;
        gap: 5px;
        border-right: 1px solid #e6e6e6;
    }
}

nav {
    display: flex;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

}

.left {
    flex: 1;
    background-color: #FFFFFF;
    padding: 10px;
    width: 300px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;



    .leftone {
        position: relative;

    }

    li {
        display: flex;
        align-items: center;
        gap: 10px;    
        color: #1F1F1F;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;


        .arrow {
            position: absolute;
            right: 10px;
        }
    }

    a {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #1F1F1F;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
}


.scrooll {
    -ms-overflow-style: none;
}

.right {
    flex: 2;
    background-color: #FFFFFF;
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 70px;
    width: 300px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    .right-page {
        display: flex;
        position: relative;
    }

    p {
        color: #1F1F1F;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }


    .sting {
        display: flex;
        position: absolute;
        right: 10px;
        gap: 5px;
    }

    .useres {
        align-items: center;
        display: flex;
        gap: 50px;
        justify-content: center;
        padding-top: 20px;
    }

    .one {
        border-bottom: 3px solid #4284F3;
    }

    .userone {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 8px;
        position: relative;
    }

    .onemo {
        width: 30px;
        height: 30px;

    }

    .towmo {
        position: absolute;
        top: 8px;
        left: -6px;
    }

    .chatone {
        position: relative;
        display: flex;
        align-items: center;
        color: #4284F3;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;

    }

    .teck {
        transform: translate(5px, -5px);

        top: 0px;
        right: -15px;
    }


    

    .chattrue {
        display: flex;
        border: 1px solid #4284F3;
        padding: 2px;
        border-radius: 3px;


        p {
            color: #838383;
            font-weight: 400;
            font-size: 10px;
            line-height: 10px;
        }

        img {
            height: 10px;
            width: 10px;
        }

    }

    .chattowminit {
        display: flex;
        align-items: center;
        gap: 5px
    }

    .chattrueminit {

        p {
            color: #838383;
            font-weight: 400;
            font-size: 10px;
            line-height: 10px;
        }
    }

}

.teckone {
    transform: translate(5px, -10px);

}
.tecktwo {
    transform: translate(-98px, -42px);
}

.list::-webkit-scrollbar {
    display: none;
}

.all::-webkit-scrollbar {
    display: none;
}

.catego::-webkit-scrollbar {
    display: none;
}
